@charset "UTF-8";
/* CSS Document */

/**********************/
/* Container for buttons
/**********************/
.soc-nav {
  width: 50%;
  box-sizing: border-box;
  height: 50px;
  padding: 0;
  font-size: 16px;
}

/**********************/
/* Buttons (parent/child elements)
/**********************/

/* FontAwesome style
/**********************/

/* Hold icons in a span */
.smn span {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 1rem;
}

.smn span > .fa {
  font-size: 2em;
}

/* Main link element style
/**********************/
a.smn-btn {
  display: block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  margin: 0 5%;
}

/* Cube outer container
/**********************/
.smn-out {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-perspective-origin: 50% 20px;
          perspective-origin: 50% 20px;
}

/* Cube inner container
/**********************/
.smn-in {
  position: relative;
  width: 40px;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* Cube faces
/**********************/

/* global style*/
.smn-in > div {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-family: 'FontAwesome';
}

/* positions, styles for individual faces */
.back {
  -webkit-transform: translateX(0)
    translateY(0)
    translateZ(-20px)
    rotateX(0)
    rotateY(180deg)
    rotateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
          transform: translateX(0)
    translateY(0)
    translateZ(-20px)
    rotateX(0)
    rotateY(180deg)
    rotateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
}

.right {
  -webkit-transform: rotateX(0)
    rotateY(-270deg)
    rotateZ(0)
    translateX(20px)
    translateY(0)
    translateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
          transform: rotateX(0)
    rotateY(-270deg)
    rotateZ(0)
    translateX(20px)
    translateY(0)
    translateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.left {
  -webkit-transform: rotateX(0)
    rotateY(270deg)
    rotateZ(0)
    translateX(-20px)
    translateY(0)
    translateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
          transform: rotateX(0)
    rotateY(270deg)
    rotateZ(0)
    translateX(-20px)
    translateY(0)
    translateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
  -webkit-transform-origin: center left;
          transform-origin: center left;
		    -webkit-box-shadow: inset 0.7em 0em 1em 0.3em rgba(0, 0, 0, 0.35);
  -moz-shadow: inset 0.7em 0em 1em 0.3em rgba(0, 0, 0, 0.35);
  -o-box-shadow: inset 0.7em 0em 1em 0.3em rgba(0, 0, 0, 0.35);
  box-shadow: inset 0.7em 0em 1em 0.3em rgba(0, 0, 0, 0.35);
}

.top {
  -webkit-transform: rotateX(-90deg)
    rotateY(0)
    rotateZ(0)
    translateX(0)
    translateY(-20px)
    translateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
          transform: rotateX(-90deg)
    rotateY(0)
    rotateZ(0)
    translateX(0)
    translateY(-20px)
    translateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.bot {
  -webkit-transform: rotateX(90deg)
    rotateY(0)
    rotateZ(0)
    translateX(0)
    translateY(20px)
    translateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
          transform: rotateX(90deg)
    rotateY(0)
    rotateZ(0)
    translateX(0)
    translateY(20px)
    translateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  background-color: #999;
  	    -webkit-box-shadow: inset -0.7em 0.7em 1em 0.3em rgba(0, 0, 0, 0.4);
  -moz-shadow: inset -0.7em 0.7em 1em 0.3em rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset -0.7em 0.7em 1em 0.3em rgba(0, 0, 0, 0.4);
  box-shadow: inset -0.7em 0.7em 1em 0.3em rgba(0, 0, 0, 0.4);
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !Important;
}

.front {
  -webkit-transform: rotateX(0)
    rotateY(0)
    rotateZ(0)
    translateX(0)
    translateY(0)
    translateZ(20px)
    scale(1.0, 1.0)
    scaleZ(1.0);
          transform: rotateX(0)
    rotateY(0)
    rotateZ(0)
    translateX(0)
    translateY(0)
    translateZ(20px)
    scale(1.0, 1.0)
    scaleZ(1.0);
  background-color: #fff;
}

/* Hide backface, except on bottom */
.front, .left, .right, .top, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Font and left faces get a colored outline */
.front, .left {
  outline-width: 2px;
  outline-style: solid;
  outline-offset: -2px;
}

/* Pseudo element for drop shadow*/
a.smn-btn:link .smn-out:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 40px;
  border-radius: 20%;
  -webkit-transform: translateX(0)
    translateY(30px)
    translateZ(0)
    rotate(0)
    rotateZ(0)
    skew(-2deg, -2deg)
    scale(0.1, 0.1)
    scaleZ(1.0);
          transform: translateX(0)
    translateY(30px)
    translateZ(0)
    rotate(0)
    rotateZ(0)
    skew(-2deg, -2deg)
    scale(0.1, 0.1)
    scaleZ(1.0);
  box-shadow: -.5em .24em 1em .24em rgba(0, 0, 0, 0.4);
  -webkit-transition: all .35s ease-in-out .1s;
  transition: all .35s ease-in-out .1s;
}



/* Specific style for social media*/
/* linkedin */
.linked, .front.linked, .left.linked {
  color: #007bb6;
  outline-color: #007bb6;
}
.linked-lft, .front.linked:after {
  background-color: #007bb6;
}

/* twitter */
.tweet, .front.tweet, .left.tweet {
  color: #00aced;
  outline-color: #00aced;
}
.tweet-lft, .front.tweet:after {
  background-color: #00aced;
}

/* github */
.git, .front.git, .left.git {
  color: #000;
  outline-color: #000;
}

.git-lft, .front.git:after {
  background-color: #000;
}

/* facebook */
.facebk, .front.facebk, .left.facebk {
  color: #3b5998;
  outline-color: #3b5998;
}
.facebk-lft, .front.facebk:after {
  background-color: rgba(59, 89, 152, 1);
}

/* Google plus */
.goog, .front.goog, .left.goog {
  color: #dd4b39;
  outline-color: #dd4b39;
}
.goog-lft, .front.goog:after {
  background-color: #dd4b39;
}

/* Main link behavior
/**********************/

/* Base positioning for cube faces*/
a.smn-btn:link .smn-in {
  -webkit-transform: rotateX(0)
    rotateY(0)
    rotateZ(0)
    translateX(0)
    translateY(0)
    translateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
          transform: rotateX(0)
    rotateY(0)
    rotateZ(0)
    translateX(0)
    translateY(0)
    translateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
  -webkit-transition: all .35s ease-in-out .1s;
  transition: all .35s ease-in-out .1s;
}

/* Front face shadow (hidden) */
a.smn-btn:link .smn-in .front {
  -webkit-transition: all .35s ease-in-out .1s;
  transition: all .35s ease-in-out .1s;
   -webkit-box-shadow: inset -.1em .1em .22em .05em rgba(0, 0, 0, 0.0);
  -moz-box-shadow: inset -.1em .1em .22em .05em rgba(0, 0, 0, 0.0);
  box-shadow: inset -.1em .1em .22em .05em rgba(0, 0, 0, 0.0);
}


a.smn-btn:visited .smn-in .front {
  -webkit-transition: all .35s ease-in-out .1s;
  transition: all .35s ease-in-out .1s;
   background-color:#0C0B30;
   border-color:#0C0B30;
   outline-color:#0C0B30;
  color:#fff;
   
}


/* Show drop shadow on hover, active, focus*/
a.smn-btn:hover .smn-out:before,
a.smn-btn:active .smn-out:before {
  -webkit-transition: all .35s ease-in-out .1s;
  transition: all .35s ease-in-out .1s;
  -webkit-transform: translateX(0)
    translateY(30px)
    translateZ(0)
    rotate(0)
    rotateZ(0)
    skew(-2deg, -2deg)
    scale(1.0, 1.0)
    scaleZ(1.0);
          transform: translateX(0)
    translateY(30px)
    translateZ(0)
    rotate(0)
    rotateZ(0)
    skew(-2deg, -2deg)
    scale(1.0, 1.0)
    scaleZ(1.0);
}

/* Animate cube on hover, active, focus*/
a.smn-btn:hover .smn-in, a.smn-btn:active .smn-in, a.smn-btn:focus .smn-in {
  -webkit-transform: rotateY(30deg)
    rotateX(20deg)
    rotateZ(0)
    translateX(0)
    translateY(0)
    translateZ(20px)
    scale(1.0, 1.0)
    scaleZ(1.0);
          transform: rotateY(30deg)
    rotateX(20deg)
    rotateZ(0)
    translateX(0)
    translateY(0)
    translateZ(20px)
    scale(1.0, 1.0)
    scaleZ(1.0);
  z-index: 1;
}

/* Show face shadow on animate*/
a.smn-btn:hover .smn-in .front,
a.smn-btn:active .smn-in .front,
a.smn-btn:focus .smn-in .front {
  -webkit-transition: all .35s ease-in-out .1s;
  transition: all .35s ease-in-out .1s;
  box-shadow: inset -.2em .2em .42em .05em rgba(0, 0, 0, 0.12);
}
