.oc-nav {
	width:100%;
	box-sizing:border-box;
	height:auto;
	padding:1.5em 0 0;
	font-size:16px;
	font-size:.81em;
	margin: 0 auto;
}

.mn span {
	width:100%;
	height:100%;
	line-height:3.5em;
	font-size:1rem
}
.mn-in>div, a.mn-btn {
	height:3.5em;
	width:3.5em
}
.mn span>.fa { font-size:2em }
a.mn-btn {
	display:block;
	text-decoration:none;
	margin:0 5%
}
.mn-out {
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	-webkit-perspective:800px;
	perspective:800px;
	-webkit-perspective-origin:50% 20px;
	perspective-origin:50% 20px
}
.mn-in {
	position:relative;
	width:3.5em;
	margin:0 auto;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d
}
.rad-label, .mn-in>div, .toggler { position:absolute }
.mn-in>div {
	text-align:center;
	line-height:3.5em;
	font-family:FontAwesome
}
.nback {
	-webkit-transform:translateX(0) translateY(0) translateZ(-1.75em) rotateX(0) rotateY(180deg) rotateZ(0) scale(1, 1) scaleZ(1);
	transform:translateX(0) translateY(0) translateZ(-1.75em) rotateX(0) rotateY(180deg) rotateZ(0) scale(1, 1) scaleZ(1)
}
.nright {
	-webkit-transform:rotateX(0) rotateY(-270deg) rotateZ(0) translateX(1.75em) translateY(0) translateZ(0) scale(1, 1) scaleZ(1);
	transform:rotateX(0) rotateY(-270deg) rotateZ(0) translateX(1.75em) translateY(0) translateZ(0) scale(1, 1) scaleZ(1);
	-webkit-transform-origin:ntop nright;
	transform-origin:ntop nright
}
.nleft {
	-webkit-transform:rotateX(0) rotateY(270deg) rotateZ(0) translateX(-1.75em) translateY(0) translateZ(0) scale(1, 1) scaleZ(1);
	transform:rotateX(0) rotateY(270deg) rotateZ(0) translateX(-1.75em) translateY(0) translateZ(0) scale(1, 1) scaleZ(1);
	-webkit-transform-origin:center nleft;
	transform-origin:center nleft;
	-webkit-box-shadow:inset .7em 0 1em .3em rgba(0,0,0,.35);
	-moz-shadow:inset .7em 0 1em .3em rgba(0,0,0,.35);
	-o-box-shadow:inset .7em 0 1em .3em rgba(0,0,0,.35);
	box-shadow:inset .7em 0 1em .3em rgba(0,0,0,.35);
	outline-width:0;
}
.ntop {
	-webkit-transform:rotateX(-90deg) rotateY(0) rotateZ(0) translateX(0) translateY(-1.75em) translateZ(0) scale(1, 1) scaleZ(1);
	transform:rotateX(-90deg) rotateY(0) rotateZ(0) translateX(0) translateY(-1.75em) translateZ(0) scale(1, 1) scaleZ(1);
	-webkit-transform-origin:ntop center;
	transform-origin:ntop center
}
.nbot {
	-webkit-transform:rotateX(90deg) rotateY(0) rotateZ(0) translateX(0) translateY(1.75em) translateZ(0) scale(1, 1) scaleZ(1);
	transform:rotateX(90deg) rotateY(0) rotateZ(0) translateX(0) translateY(1.75em) translateZ(0) scale(1, 1) scaleZ(1);
	-webkit-transform-origin:nbottom center;
	transform-origin:nbottom center;
	-webkit-box-shadow:inset -.7em .7em 1em .3em rgba(0,0,0,.4);
	-moz-shadow:inset -.7em .7em 1em .3em rgba(0,0,0,.4);
	-o-box-shadow:inset -.7em .7em 1em .3em rgba(0,0,0,.4);
	box-shadow:inset -.7em .7em 1em .3em rgba(0,0,0,.4);
	-webkit-backface-visibility:visible!important
}
.nfront {
	-webkit-transform:rotateX(0) rotateY(0) rotateZ(0) translateX(0) translateY(0) translateZ(1.75em) scale(1, 1) scaleZ(1);
	transform:rotateX(0) rotateY(0) rotateZ(0) translateX(0) translateY(0) translateZ(1.75em) scale(1, 1) scaleZ(1);
	color:#fff
}
.nback, .nfront, .nleft, .nright, .ntop {
	-webkit-nbackface-visibility:hidden;
	nbackface-visibility:hidden
}
a.mn-btn:link .mn-out:before {
	position:absolute;
	content:'';
	display:inline-block;
	width:3.5em;
	border-radius:20%;
	-webkit-transform:translateX(0) translateY(3em) translateZ(0) rotate(0) rotateZ(0) skew(-2deg, -2deg) scale(.1, .1) scaleZ(1);
	transform:translateX(0) translateY(3em) translateZ(0) rotate(0) rotateZ(0) skew(-2deg, -2deg) scale(.1, .1) scaleZ(1);
	box-shadow:-.5em .24em 1em .24em rgba(0,0,0,.92);
	-webkit-transition:all .35s ease-in-out .1s;
	transition:all .35s ease-in-out .1s
}

.nleft.linked, .linked { outline-color:#0C0B30 }
.nfront.linked:after, .linked-lft {  }

.nfront.git, .git, .nleft.git {
	color:#000;
	outline-color:#0C0B30
}
.mn-in > .nback, 
.mn-in > .nfront, 
.mn-in > .nbot, 
.mn-in > .nright{
	background:	url(media-qry.css);
  background-image: url(../assets/images/svg/stripe-pattern.svg);
 background-size:8px 8px ;
 background-repeat:repeat;}
a.mn-btn:link .mn-in {
	-webkit-transform:rotateX(10deg) rotateY(10deg) rotateZ(0) translateX(0) translateY(0) translateZ(0) scale(1, 1) scaleZ(1);
	transform:rotateX(10deg) rotateY(10deg) rotateZ(0) translateX(0) translateY(0) translateZ(0) scale(1, 1) scaleZ(1);
	-webkit-transition:all .35s ease-in-out .1s;
	transition:all .35s ease-in-out .1s
}
, a.mn-btn:link .mn-in .nfront, a.mn-btn:visited .mn-in .nfront {
-webkit-transition:all .35s ease-in-out .1s;
transition:all .35s ease-in-out .1s;
-webkit-box-shadow:inset -.1em .1em .22em .05em rgba(255,255,255,1);
-moz-box-shadow:inset -.1em .1em .22em .05em rgba(255,255,255,1);
box-shadow:inset -.1em .1em .22em .05em transparent
}
a.mn-btn:active .mn-out:before, a.mn-btn:hover .mn-out:before {
	-webkit-transition:all .35s ease-in-out .1s;
	transition:all .35s ease-in-out .1s;
	-webkit-transform:translateX(0) translateY(3em) translateZ(0) rotate(0) rotateZ(0) skew(-2deg, -2deg) scale(1, 1) scaleZ(1);
	transform:translateX(0) translateY(3em) translateZ(0) rotate(0) rotateZ(0) skew(-2deg, -2deg) scale(1, 1) scaleZ(1)
}
a.mn-btn:active .mn-in, a.mn-btn:focus .mn-in, a.mn-btn:hover .mn-in {
	-webkit-transform:rotateY(30deg) rotateX(1.75em) rotateZ(0) translateX(0) translateY(0) translateZ(1.75em) scale(1, 1) scaleZ(1);
	transform:rotateY(30deg) rotateX(20deg) rotateZ(0) translateX(0) translateY(0) translateZ(20px) scale(1, 1) scaleZ(1);
	z-index:1
}
a.mn-btn:active .mn-in .nfront, a.mn-btn:focus .mn-in .nfront, a.mn-btn:hover .mn-in .nfront {
	-webkit-transition:all .35s ease-in-out .1s;
	transition:all .35s ease-in-out .1s;
	box-shadow:inset -.2em .2em .42em .05em rgba(0,0,0,.12)
}
/*==========================================*/
/* FIXED POS NAV
*/
