@charset "UTF-8";
/* CSS Document */



/* * * * * * * * * * * * * * * * * */
/*Media Query*/
/****************************/


 @media (max-width: 42.5em) {

}

 @media (max-width: 65em) {

	 ul.navi > li{
width:45%;
	min-width:160px;
	 }  
.ta_1{background-image:url(../assets/images/png/main-page-potrait/dp_sq_200.png);}
.tb_1{background-image:url(../assets/images/png/main-page-potrait/dp_sq_200_alt1.png);}
.tc_1{background-image:url(../assets/images/png/main-page-potrait/dp_sq_200_alt2.png);}
.td_1{background-image:url(../assets/images/png/main-page-potrait/dp_sq_200_alt3.png);}
.te_1{background-image:url(../assets/images/png/main-page-potrait/jina_sq_200.png);}
.tf_1{background-image:url(../assets/images/png/main-page-potrait/sahna_sq_200.png);}

}
@media screen and (max-width:58.5em) {

ul.ul_wrapper{
    -webkit-box-orient:vertical;
-ms-flex-direction:column;
flex-direction:column;
-ms-flex-wrap:wrap;
	flex-wrap:wrap;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
	-webkit-justify-content:center;
            justify-content: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
  }

 ul.ul_wrapper li{
    width:100%;
	height:auto;
    -ms-flex-preferred-size:100%;
        flex-basis:100%;
    margin:0 auto;
  }  

  
 ul.ul_wrapper  li.head-logo {
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
	    -ms-flex-pack: center;
    -webkit-box-pack: center;
	-webkit-justify-content:center;
            justify-content: center;
			padding:0;
	padding-left:0;
}

ul.ul_wrapper  li.head-snav {
	
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
	font-size:20px;
} 
div.soc-nav{
	margin:1em auto;
	    -ms-flex-pack: center;
    -webkit-box-pack: center;
	-webkit-justify-content:center;
            justify-content: center;
	}
}


 @media (max-width:48.5em) {	 
li div.bio_left{
width:100%;
max-width:250px;	
-webkit-flex:0 1 auto;
flex:0 1 auto;
margin:0 auto;
}	
li div.bio_right, li div.bio_title{
width:100%;
-webkit-flex:1 0 auto;
flex:1 0 auto;
    text-align: center;
}
 li div.bio_title{	
 -webkit-align-self: center; /* Safari 7.0+ */
    align-self: center;
	margin:0 auto;
}
	 
	 	 
	 ul.navi > li {
width:65%;
	min-width:170px;
	 }  

ul.section_team{
	webkit-box-pack:center;
	-ms-flex-pack:center;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	}
ul.section_team > li{
	width:85%;
	min-width:250px;	
 }
span.team_name{
font-size:1.5em;
line-height:1.5em;	
}	
div.team_desc{
	font-size:1.25em;
	line-height:1.5em;
	font-weight:400;
} 
.ta_1{background-image:url(../assets/images/png/main-page-potrait/dp_sq_200.png);}
.tb_1{background-image:url(../assets/images/png/main-page-potrait/dp_sq_200_alt1.png);}
.tc_1{background-image:url(../assets/images/png/main-page-potrait/dp_sq_200_alt2.png);}
.td_1{background-image:url(../assets/images/png/main-page-potrait/dp_sq_200_alt3.png);}
.te_1{background-image:url(../assets/images/png/main-page-potrait/jina_sq_200.png);}
.tf_1{background-image:url(../assets/images/png/main-page-potrait/sahna_sq_200.png);}


 }


