@charset "UTF-8";
/* CSS Document */



/* * * * * * * * * * * * * * * * * */
/*Media Query*/
/****************************/


 @media (max-width: 42.5em) {
}
 @media (max-width: 25em) {
}
 @media (max-width:58.5em) {





}
 @media screen and (max-width:6em) {
.p1 {
	width: 100%;
}
.some > div[class*="stripes"] {
	display:none;
}
.penta {
	min-width:100%;
}
h2 {
font-size:2.2em;
}
}
