

/**********************/
/* Container for buttons
/**********************/
.soc-nav {
  box-sizing: border-box;
  height: 50px;
font-size:16px;
}

/**********************/
/* Buttons (parent/child elements)
/**********************/

/* FontAwesome style
/**********************/

/* Hold icons in a span */
.smn span {
  width: 100%;
  height: 100%;
  line-height: 40px;
	font-size:1rem;
}

.smn span > .fa {
  font-size: 2em;
}

/* Main link element style
/**********************/
a.smn-btn {
  display: block;
  width: 40px;
  height: 40px;
  text-decoration: none;
}

/* Cube outer container
/**********************/
.smn-out {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  perspective: 800px;
  perspective-origin: 20% 20px;
}

/* Cube inner container
/**********************/
.smn-in {
  position: relative;
  width: 40px;
  margin: 0 auto;
  transform-style: preserve-3d;
}

/* Cube faces
/**********************/

/* global style*/
.smn-in > div {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-family: 'FontAwesome';
}

/* positions, styles for individual faces */
.back {
  transform: translateX(0)
    translateY(0)
    translateZ(-20px)
    rotateX(0)
    rotateY(180deg)
    rotateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
}

.right {
  transform: rotateX(0)
    rotateY(-270deg)
    rotateZ(0)
    translateX(20px)
    translateY(0)
    translateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
  transform-origin: top right;
}

.left {
  transform: rotateX(0)
    rotateY(270deg)
    rotateZ(0)
    translateX(-20px)
    translateY(0)
    translateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
  transform-origin: center left;
  -moz-box-shadow: inset 1em 0 .64em .24em rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 1em 0 .64em .24em rgba(0, 0, 0, 0.33);
  -o-box-shadow: inset 1em 0 .64em .24em rgba(0, 0, 0, 0.33);
  box-shadow: inset 1em 0 .64em .24em rgba(0, 0, 0, 0.33);
}

.top {
  transform: rotateX(-90deg)
    rotateY(0)
    rotateZ(0)
    translateX(0)
    translateY(-20px)
    translateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
  transform-origin: top center;
}

.bot {
  transform: rotateX(90deg)
    rotateY(0)
    rotateZ(0)
    translateX(0)
    translateY(20px)
    translateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
  transform-origin: bottom center;
  background-color: #999;
  -webkit-box-shadow: inset -1em 0 .64em .24em rgba(0, 0, 0, 0.49);
  -moz-box-shadow: inset -1em 0 .64em .24em rgba(0, 0, 0, 0.49);
  box-shadow: inset -1em 0 .64em .24em rgba(0, 0, 0, 0.49);
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !Important;
}

.front {
  transform: rotateX(0)
    rotateY(0)
    rotateZ(0)
    translateX(0)
    translateY(0)
    translateZ(20px)
    scale(1.0, 1.0)
    scaleZ(1.0);
  background-color: #fff;
}

/* Hide backface, except on bottom */
.front, .left, .right, .top, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Font and left faces get a colored outline */
.front, .left {
  outline-width: 2px;
  outline-style: solid;
  outline-offset: -2px;
}

/* Pseudo element for drop shadow*/
a.smn-btn:link .smn-out:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 40px;
  border-radius: 20%;
  transform: translateX(0)
    translateY(30px)
    translateZ(0)
    rotate(0)
    rotateZ(0)
    skew(-2deg, -2deg)
    scale(0.1, 0.1)
    scaleZ(1.0);
  -moz-box-shadow: -.5em .24em 1em .24em rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -.5em .24em 1em .24em rgba(0, 0, 0, 0.4);
  box-shadow: -.5em .24em 1em .24em rgba(0, 0, 0, 0.4);
  transition: all .35s ease-in-out .1s;
}

/* Pseudo element for :visited*/
a.smn-btn:link .smn:after {
  content: '';
  position: inherit;
  top: 0;
  right: 0;
  width: 6px;
  height: 6px;
  z-index: 10;
  display: none;
}
/* Show visited indicator for visited */

a.smn-btn:visited .smn:after {
  display: block;
    content: '';
  position: inherit;
  top: 0;
  right: 0;
  width: 6px;
  height: 6px;
  z-index: 10;
}

/* Specific style for social media*/
/* linkedin */
.linked, .front.linked, .left.linked {
  color: #007bb6;
  border-color:#007bb6;
  outline-color: #007bb6;
}
.linked-lft, .front.linked:after {
  background-color: #007bb6;
}

/* twitter */
.tweet, .front.tweet, .left.tweet {
  color: #00aced;
  border-color:#00aced;
  outline-color: #00aced;
}
.tweet-lft, .front.tweet:after {
  background-color: #00aced;
}

/* github */
.git, .front.git, .left.git {
  color: #000;
  outline-color: #000;
  border-color:#000;

}

.git-lft, .front.git:after {
  background-color: #000;
}

/* facebook */
.facebk, .front.facebk, .left.facebk {
  color: #3b5998;
  border-color:#3b5998;
  outline-color: #3b5998;
}
.facebk-lft, .front.facebk:after {
  background-color: rgba(59, 89, 152, 1);
}

/* Google plus */
.goog, .front.goog, .left.goog {
  color: #dd4b39;
  border-color:#dd4b39;
  outline-color: #dd4b39;
}
.goog-lft, .front.goog:after {
  background-color: #dd4b39;
}



.dp-home {
  color: #689FFF;
  border-color: #689FFF;
  outline-color: #689FFF;
}

.dp-email {
  color: #242C38;
  border-color: #242C38;
  outline-color: #242C38;
}
/* phone */
.dp-phone {
  color: #ffc300;
  outline-color: #ffc300;
  border-color: #ffc300;
}
/* Main link behavior
/**********************/

/* Base positioning for cube faces*/
a.smn-btn:link .smn-in {
  transform: rotateX(0)
    rotateY(0)
    rotateZ(0)
    translateX(0)
    translateY(0)
    translateZ(0)
    scale(1.0, 1.0)
    scaleZ(1.0);
  transition: all .35s ease-in-out .1s;
}

/* Front face shadow (hidden) */
a.smn-btn:link .smn-in .front {
  transition: all .35s ease-in-out .1s;
  -webkit-box-shadow: inset -.1em .1em .22em .05em rgba(0, 0, 0, 0.0);
  -moz-box-shadow: inset -.1em .1em .22em .05em rgba(0, 0, 0, 0.0);
  box-shadow: inset -.1em .1em .22em .05em rgba(0, 0, 0, 0.0);
}



/* Show drop shadow on hover, active, focus*/
a.smn-btn:hover .smn-out:before,
a.smn-btn:active .smn-out:before,
a.smn-btn:focus .smn-out:before {
  transition: all .35s ease-in-out .1s;
  transform: translateX(0)
    translateY(30px)
    translateZ(0)
    rotate(0)
    rotateZ(0)
    skew(-2deg, -2deg)
    scale(1.0, 1.0)
    scaleZ(1.0);
}

/* Animate cube on hover, active, focus*/
a.smn-btn:hover .smn-in, 
a.smn-btn:active .smn-in, 
a.smn-btn:focus .smn-in {
  transform: rotateY(30deg)
    rotateX(20deg)
    rotateZ(0)
    translateX(0)
    translateY(0)
    translateZ(20px)
    scale(1.0, 1.0)
    scaleZ(1.0);
  z-index: 1;
}

/* Show face shadow on animate*/
a.smn-btn:hover .smn-in .front,
a.smn-btn:active .smn-in .front,
a.smn-btn:focus .smn-in .front {
  transition: all .35s ease-in-out .1s;
  -moz-box-shadow: inset -.2em .2em .42em .05em rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset -.2em .2em .42em .05em rgba(0, 0, 0, 0.12);
  box-shadow: inset -.2em .2em .42em .05em rgba(0, 0, 0, 0.12);
}



/****************************/
/* Radal Menu*/
/****************************/

/* Global properties
/*************************/

input, label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* FontAwesome style
/**********************/

/* Hold icons in a span */
.tbar,
.ispan {
width:100%;
height:100%;
font-size: 1rem;
line-height:2.8em;
}

.tbar .fa, 
.ispan .fa {
  font-size: 1.6em;
}

/* dp Inline SVG */
/****************************/

.dp {
  width: 75%;
  height: 75%;
}
.letter-d, .letter-p {
  fill: #FFF;
  stroke: #FFF;
}

/*************************/
/* Black & blue circle for initials
/*************************/
/*Use translateZ in place of z-index */
/*Bottom layer white circle */
.rad-nav {
  font-size: 16px;;
  position: relative;
  width:9em;
  height: 9em;
  background-color: #fff;
  border-radius: 50%;
  border: .2em solid #000;
  margin: 50px 0 0 20px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateX(0) translateY(0) translateZ(-1em);
   -ms-transform: translateX(0) translateY(0) translateZ(-1em);
          transform: translateX(0) translateY(0) translateZ(-1em);
}


/*Top layer lite blue circle */

.rad-nav:after {
  content: '';
  width: 90%;
  height: 90%;
  display: block;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px #fff;
          box-shadow: 0 0 0 1px #fff;
  background: #B4D0FF;
}


/* Base form element (Hidden) */
#logo-check {
  display: none;
  font-size: 1rem;
}

/* Styled form outer element */
.rad-label {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  cursor: pointer;
  z-index: 50;
  width: 105%;
  height: 105%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%) translateZ(1em);
          transform: translateX(-50%) translateY(-50%) translateZ(1em);
}

.toggler {
  border-radius: 50%;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* Radial toggle button container*/
.toggler {
  background: #689FFF; /*#6534ff;*/
  -webkit-box-shadow: 1px -1px 2px 2px rgba(0, 0, 0, 0.23);
          box-shadow: 1px -1px 2px 2px rgba(0, 0, 0, 0.23);
  top: 50%;
  left: 50%;
}

.rad-tog {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-.75em)
    translateY(-.75em)
    translateZ(-2em)
    rotate(180deg)
    rotateZ(0)
    scale3d(1.0, 1.0, 1.0);
          transform: translateX(-.75em)
    translateY(-.75em)
    translateZ(-2em)
    rotate(180deg)
    rotateZ(0)
    scale3d(1.0, 1.0, 1.0);
  opacity: 0;
  -webkit-transition: opacity .01s;
  -o-transition: opacity .01s;
  transition: opacity .01s;
}
.hover-tog {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-.75em)
    translateY(-.75em)
    translateZ(-2em)
    rotate(180deg)
    rotateZ(0)
    scale3d(1.0, 1.0, 1.0);
          transform: translateX(-.75em)
    translateY(-.75em)
    translateZ(-2em)
    rotate(180deg)
    rotateZ(0)
    scale3d(1.0, 1.0, 1.0);
}

/* Radial toggle button action*/
/*Radial hide open/close toggle*/
.toggler > .tbar:first-child {
  -webkit-transition: display 0.01s;
  -o-transition: display 0.01s;
  transition: display 0.01s;
  -webkit-transition-delay: 0.02s;
       -o-transition-delay: 0.02s;
          transition-delay: 0.02s;
}
.toggler > .tbar:last-child {
  display: none;
  -webkit-transition: display 0.01s;
  -o-transition: display 0.01s;
  transition: display 0.01s;
  -webkit-transition-delay: 0.02s;
       -o-transition-delay: 0.02s;
          transition-delay: 0.02s;
		  display:none;
}

#logo-check:checked ~ .rad-label .rad-tog > .tbar:first-child {
  -webkit-transition: display 0.01s;
  -o-transition: display 0.01s;
  transition: display 0.01s;
  -webkit-transition-delay: 0.02s;
       -o-transition-delay: 0.02s;
          transition-delay: 0.02s;
  display: none;
}
#logo-check:checked ~ .rad-label .rad-tog > .tbar:last-child {
  -webkit-transition: display 0.01s;
  -o-transition: display 0.01s;
  transition: display 0.01s;
  -webkit-transition-delay: 0.02s;
       -o-transition-delay: 0.02s;
          transition-delay: 0.02s;
		display:flex;  
}

#logo-check:checked ~ .rad-label > .rad-tog {
  -webkit-transition: opacity 0.01s;
  -o-transition: opacity 0.01s;
  transition: opacity 0.01s;
  opacity: 1;
}
#logo-check:checked ~ .rad-label > .hover-tog {
  -webkit-transition: opacity 0.01s;
  -o-transition: opacity 0.01s;
  transition: opacity 0.01s;
  opacity: 0;
}

/* Radial navigation container */
/****************************/
.rad-cont {
  position: absolute;
  z-index: 10;
  width: 9em;
  height: 9em;
}
.rad-inside {
  position: relative;
  width: 90%;
  height: 90%;
}
.rad-cont, .rad-inside {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 50%;
}

.rad-inside:after {
  content: '';
  width: 80%;
  height: 80%;
  display: block;
  position: absolute;
  background-color: #689FFF;
  border-radius: 50%;
  border-width: 1.2em solid #689FFF;
  z-index: -1;
  opacity: 0;
}

.rad-circ {
  border-radius: 50%;
  position: absolute;
  width: 2.8em;
  height: 2.8em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.mob{
display:none;}

#logo-check:hover ~ .rad-label + .rad-cont > .rad-inside:after,
#logo-check:active ~ .rad-label + .rad-cont > .rad-inside:after,
#logo-check:focus ~ .rad-label + .rad-cont > .rad-inside:after {
  opacity: 1.0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
#logo-check:checked ~ .rad-label + .rad-cont > .rad-inside:after {
  border-width: 1em solid #689FFF;
  border-radius: 50%;
  background-color: red;
  z-index: -1;
  opacity: 1.0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.fly-out {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
          align-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
  width: 16em;
  height: 16em;
  -webkit-transform: translateX(-50%) translateY(-50%) translateZ(-3em);
          transform: translateX(-50%) translateY(-50%) translateZ(-3em);
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

/* Radial fly-out buttons */
/****************************/
.rad-circ {
  background-color: #fff;
  border-width: .2em;
  border-style: solid;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  -o-transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  
}

#logo-check:checked ~ .rad-label + .rad-cont .rad-circ {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.rad-circ:link {
}
.rad-circ:hover, .rad-circ:active, .rad-circ:focus {
  background: #666;
  color: #fff;
}

#logo-check:checked
  ~ .rad-label
  + .rad-cont .fly-out
  > .rad-circ:nth-of-type(1) {
  -webkit-transform: translateX(50%)
    translateY(-220%)
    translateZ(0)
    scale3d(1.0, 1.0, 1.0);
          transform: translateX(50%)
    translateY(-220%)
    translateZ(0)
    scale3d(1.0, 1.0, 1.0);
  -webkit-transition: background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0s;
  transition: background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0s;
  -o-transition: transform 0.3s ease-in-out 0s,
    background 0.3s ease 0s,
    color 0.3s ease 0s;
  transition: transform 0.3s ease-in-out 0s,
    background 0.3s ease 0s,
    color 0.3s ease 0s;
  transition: transform 0.3s ease-in-out 0s,
    background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0s;
}

#logo-check:checked ~ .rad-label + .rad-cont .rad-circ:nth-of-type(2) {
  -webkit-transform: translateX(165%)
    translateY(-175%)
    translateZ(0)
    scale3d(1.0, 1.0, 1.0);
          transform: translateX(165%)
    translateY(-175%)
    translateZ(0)
    scale3d(1.0, 1.0, 1.0);
  -webkit-transition: background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.1s;
  transition: background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.1s;
  -o-transition: transform 0.3s ease-in-out 0.1s,
    background 0.3s ease 0s,
    color 0.3s ease 0s;
  transition: transform 0.3s ease-in-out 0.1s,
    background 0.3s ease 0s,
    color 0.3s ease 0s;
  transition: transform 0.3s ease-in-out 0.1s,
    background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.1s;
}

#logo-check:checked ~ .rad-label + .rad-cont .rad-circ:nth-of-type(3) {
  -webkit-transform: translateX(220%)
    translateY(-60%)
    translateZ(0)
    scale3d(1.0, 1.0, 1.0);
          transform: translateX(220%)
    translateY(-60%)
    translateZ(0)
    scale3d(1.0, 1.0, 1.0);
  -webkit-transition: background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.2s;
  transition: background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.2s;
  -o-transition: transform 0.3s ease-in-out 0.2s,
    background 0.3s ease 0s,
    color 0.3s ease 0s;
  transition: transform 0.3s ease-in-out 0.2s,
    background 0.3s ease 0s,
    color 0.3s ease 0s;
  transition: transform 0.3s ease-in-out 0.2s,
    background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.2s;
}
#logo-check:checked ~ .rad-label + .rad-cont .rad-circ:nth-of-type(4) {
  -webkit-transform: translateX(220%)
    translateY(60%)
    translateZ(0)
    scale3d(1.0, 1.0, 1.0);
          transform: translateX(220%)
    translateY(60%)
    translateZ(0)
    scale3d(1.0, 1.0, 1.0);
  -webkit-transition: background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.3s;
  transition: background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.3s;
  -o-transition: transform 0.3s ease-in-out 0.3s,
    background 0.3s ease 0s,
    color 0.3s ease 0s;
  transition: transform 0.3s ease-in-out 0.3s,
    background 0.3s ease 0s,
    color 0.3s ease 0s;
  transition: transform 0.3s ease-in-out 0.3s,
    background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.3s;
}
#logo-check:checked ~ .rad-label + .rad-cont .rad-circ:nth-of-type(5) {
  -webkit-transform: translateX(165%)
    translateY(175%)
    translateZ(0)
    scale3d(1.0, 1.0, 1.0);
          transform: translateX(165%)
    translateY(175%)
    translateZ(0)
    scale3d(1.0, 1.0, 1.0);
  -webkit-transition: background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.4s;
  transition: background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.4s;
  -o-transition: transform 0.3s ease-in-out 0.4s,
    background 0.3s ease 0s,
    color 0.3s ease 0s;
  transition: transform 0.3s ease-in-out 0.4s,
    background 0.3s ease 0s,
    color 0.3s ease 0s;
  transition: transform 0.3s ease-in-out 0.4s,
    background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.4s;
}
#logo-check:checked ~ .rad-label + .rad-cont .rad-circ:nth-of-type(6) {
  -webkit-transform: translateX(50%)
    translateY(220%)
    translateZ(0)
    scale3d(1.0, 1.0, 1.0);
          transform: translateX(50%)
    translateY(220%)
    translateZ(0)
    scale3d(1.0, 1.0, 1.0);
  -webkit-transition: background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.5s;
  transition: background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.5s;
  -o-transition: transform 0.3s ease-in-out 0.5s,
    background 0.3s ease 0s,
    color 0.3s ease 0s;
  transition: transform 0.3s ease-in-out 0.5s,
    background 0.3s ease 0s,
    color 0.3s ease 0s;
  transition: transform 0.3s ease-in-out 0.5s,
    background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.5s;
}
#logo-check:checked ~ .rad-label + .rad-cont .rad-circ:nth-of-type(7) {
  -webkit-transform: translateX(-75%)
    translateY(215%)
    translateZ(0)
    scale3d(1.0, 1.0, 1.0);
          transform: translateX(-75%)
    translateY(215%)
    translateZ(0)
    scale3d(1.0, 1.0, 1.0);
  -webkit-transition: background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.6s;
  transition: background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.6s;
  -o-transition: transform 0.3s ease-in-out 0.6s,
    background 0.3s ease 0s,
    color 0.3s ease 0s;
  transition: transform 0.3s ease-in-out 0.6s,
    background 0.3s ease 0s,
    color 0.3s ease 0s;
  transition: transform 0.3s ease-in-out 0.6s,
    background 0.3s ease 0s,
    color 0.3s ease 0s,
    -webkit-transform 0.3s ease-in-out 0.6s;
}

