div[class*="outline"] > svg{
width:100%;
height:100%;
fill:#fff;
fill-opacity:0;	
-webkit-animation-direction:linear; 
animation-direction:linear; 
-webkit-animation-duration:6s; 
animation-duration:6s; 
-webkit-animation-fill-mode: forwards; 
animation-fill-mode: forwards; 
-webkit-animation-iteration-count: 1; 
animation-iteration-count: 1; 
-webkit-animation-timing-function:ease-in; 
animation-timing-function:ease-in; 
-webkit-animation-delay:4s; 
        animation-delay:4s;
-webkit-animation-name: fillfade;
        animation-name: fillfade;
}
	
@-webkit-keyframes fillfade{
	0%{fill-opacity:0;}
	50%{fill-opacity:1;}
	100%{fill-opacity:0;}
	}
@keyframes fillfade{
	0%{fill-opacity:0;}
	50%{fill-opacity:1;}
	100%{fill-opacity:0;}
	}	
/*
div[class*="svg-col"]:hover  .colcc {
-webkit-transform: perspective(1000px) scale3d(62, 49, 28) translate(70%, 50%) rotate(400deg);
        transform: perspective(1000px) scale3d(62, 49, 28) translate(70%, 50%) rotate(400deg);opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
div[class*="svg-col"]:hover  .colb3 {
-webkit-transform: perspective(1000px) scale3d(49, 48, 8) translate(70%, 10%) rotate(-650deg);
        transform: perspective(1000px) scale3d(49, 48, 8) translate(70%, 10%) rotate(-650deg);opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
div[class*="svg-col"]:hover  .col33 {
-webkit-transform: perspective(1000px) scale3d(39, 69, 28) translate(40%, 20%) rotate(-290deg);
        transform: perspective(1000px) scale3d(39, 69, 28) translate(40%, 20%) rotate(-290deg);opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
div[class*="svg-col"]:hover  .col6e,
div[class*="svg-col"]:hover  .colff
 {
-webkit-transform: perspective(1000px) scale3d(47, 44, 38) translate(80%, 70%) rotate(550deg);
        transform: perspective(1000px) scale3d(47, 44, 38) translate(80%, 70%) rotate(550deg);opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}*/


/*=======================
Letter container
========================

div[class*="svg-col"] > .letter-box{
	width:100%;
	height:100%;
	z-index:90;
	vertical-align: top;
	display:block;
	overflow:hidden;
	}
.letter-box> ul {
	box-sizing:border-box;
	display: -ms-flexbox;
	display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-flex;
-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	  -webkit-box-direction: normal;
    -moz-box-direction: normal;
	 -ms-box-orient: horizontal;
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
	margin:2px;
	padding:0;
	width:100%;
	list-style-type:none;
	vertical-align:top;
	position:relative;
	z-index:99;
	}

.letter-box > ul li {
	list-style-type:none;
	  display:block;
	  width:100%;
	  vertical-align:middle;
	}
li > p{
	font: 'Noto Sans';
  text-decoration: none;
  font-weight: bold;
  margin:0;
  padding:0;
  text-align: center;
  vertical-align:text-top;
 }
 
*/

/*Letter colors
.col99{color:#999;}
.col00{color:#000;}
.col33{color:#333;}
.col6e{color:#6e6e6e;}
.colff{color:#fff;}
.colf2{color:#f2f2f2;}
.col4d{color:#4d4d4d;}	
.colcc{color:#ccc;}	
.colb3{color:#b3b3b3;}		
.col66{color:#666;}
/*
/*Letter size
.fs15{
font-size:15px;
line-height:14px;
height:14px;
}
.fs18{
font-size:18px;
line-height:17px;
height:17px;
padding-right:16px;
}
.fs20{
font-size:20px;
line-height:16px;
height:16px;
padding-right:18px;
}
.fs24{
font-size:24px;
line-height:18px;
height:18px;
}
.fs30{
font-size:30px;
line-height:26px;
height:26px;
}


div[class*="svg-col"]:hover li[class*="col"]{
	width:100%; 
	height:100%;
	z-index:99;
	}	

p, span {
-webkit-animation-direction:linear; 
animation-direction:linear; 
-webkit-animation-duration:11s; 
animation-duration:11s; 
-webkit-animation-fill-mode: forwards; 
animation-fill-mode: forwards; 
-webkit-animation-iteration-count: 1; 
animation-iteration-count: 1; 
-webkit-animation-timing-function:ease-in; 
animation-timing-function:ease-in; 
-webkit-animation-name: pfade; 
        animation-name: pfade;
}

@-webkit-keyframes pfade{
	0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
	50%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
	100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
	}
@keyframes pfade{
	0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
	50%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
	100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
	}

	*/
/*=======================
Background image 
========================*/

/* - - - - - - - - - - - - - - - - - - - -
Background  (container, main animation)
/* - - - - - - - - - - - - - - - - - - - -*/
div[class*="svg-col"] > div[class*="outline"]{
z-index:89;
	}

/*div[class*="svg-col"] > .letter-box:after{
content:'DESIGN + INSPIRE + COLLABORATE + RESEARCH + ENCOURAGE + TEST + EVISION + CONSTRUCT + MODEL + DISCOVER + COMMUNICATE + SUPPORT + CONVEY + REPURPOSE + STYLE + TEACH + ASK + REIMAGINE + LEARN + ANALYZE + DESIGN + DESIGN + AMAZE + COLLABORATE + ENERGIZE + SEE + TEST + EVISION + MAKE + MODEL + BUILD + COMMUNICATE + SUPPORT + CONVEY + CONVEY + STYLE + TEACH + ASK + REIMAGINE + LEARN + ANALYZE + RECONSTRUCT + TRY + DECONSTRUCT + DESIGN + INSPIRE + COLLABORATE + RESEARCH + ENCOURAGE + TEST + EVISION + CONSTRUCT + MODEL + DISCOVER + COMMUNICATE + SUPPORT + CONVEY + REPURPOSE + STYLE + TEACH + ASK + REIMAGINE + LEARN + ANALYZE + DESIGN + DESIGN + AMAZE + COLLABORATE + ENERGIZE + SEE + TEST + EVISION + MAKE + MODEL + BUILD + COMMUNICATE + SUPPORT + CONVEY + CONVEY + STYLE + TEACH + ASK + IMAGINE';
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:50;
font: 'Noto Sans';
  text-decoration: none;
  font-weight: bold;
  margin:0;
  padding:0;
  text-align: center;
  vertical-align:text-top;
  white-space:normal;
  line-height:16px;
  font-size:16px;
  color:#A5B7F9;
  background-color:#D4E5FA;
  -webkit-animation-name: backfade;
          animation-name: backfade;
-webkit-animation-direction:linear; 
animation-direction:linear; 
-webkit-animation-duration:6s; 
animation-duration:6s; 
-webkit-animation-fill-mode: forwards; 
animation-fill-mode: forwards; 
-webkit-animation-iteration-count: 1; 
animation-iteration-count: 1; 
-webkit-animation-timing-function:ease-in; 
animation-timing-function:ease-in; }		


@-webkit-keyframes backfade {
	0%{ color:#A5B7F9;}
	50%{color: #D4E5FA;}
	100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
	}
@keyframes backfade {
	0%{ color:#A5B7F9;}
	50%{color: #D4E5FA;}
	100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
	}
     <div class="letter-box">
      <div class="outline-box">
<svg  class="outline-bg" viewBox="0 0 469 765" preserveAspectRatio="xMinYMin meet">
<path d="M195.7,734.1c5,4.1,27.6,21,56.7,21c9.3,0,18.4-1.7,27.2-5.1l0.2-0.1
	c16.7-1.9,23.9-3.7,24.8-3.9l24.3-11.7l-2.9-49.9l-24.6-17.5l64.2-56.8l-19.5,97.3l29.1,23.6l-3.1-10.8l-9.1-13.2l0.1-0.4l21-136.1
	l0-0.1l48.8-117.8l1,1.7c0,0,1.5,2.4,3.6,2.4c2.4,0,5.1-3.3,7.6-9.3c8.6-20.9,19.8-54.7,17.9-106.6c-1.5-41.4-21.1-55.3-29.8-55.3
	c-1.3,0-4.2,0.3-4.2,3.3c0,1.6,0,2.3-1,2.3l-0.4,0l-0.3-0.3c-0.1-0.1-0.2-0.2-0.2-0.8l-0.1,0c0-0.1,0-0.3,0-0.6
	c-0.2-3.2-0.4-14-1-52.6l-6-60.8c-1.1-2.8-20.6-55.1-41.6-70.4c-10.7-7.8-15.5-14.9-21.5-24c-6.2-9.4-14-21-31.6-37.1
	c-14.2-12.9-18.8-21-21.9-26.3c-4.2-7.2-5.1-8.7-24.5-10.4c-1.8-0.2-3.7-0.2-5.7-0.2c-34.1,0-91.6,22.3-93.7,23.1L89.6,79.8
	c-2.4,2.3-45.1,44.5-54.7,64.6C25.3,164.6,18.4,243,18,246.9l15,69l-2.1,20.3l-1.1-0.3c-0.1,0-15.2-4.4-21.8,7.5
	c-6.9,12.4-1.9,53.1,5.9,63.9c8,11,12.9,26.6,13.1,27.3c5,19.1,20.7,68.4,33.1,68.4c0.3,0,0.5,0,0.8-0.1c3.1-0.6,5.6-0.9,7.7-1.2
	c8.8-1.2,9.7-1.4,13.5-12.1l0.8-2.4l17.1,38.5l0,0.3L86,674.3l-15.8,23.9c2,4.3,16.5,34.7,35.9,34.7c0,0,0,0,0,0
	c3,0,6.1-0.9,9.1-2.4c25.6-12.9,32.8-92.8,32.9-93.6l0.2-2l57.8,50.6l2.1,41L195.7,734.1z"/>
</svg>
      </div>
        <ul>
          <li style="padding-left:20px;" class="fs15">
            <p class="col00">in<span class="col4d">spire</span> </p>
          </li>
        </ul>
        <ul>
          <li class="fs15">
            <p class="col4d">awe + i<span class="colcc">m</span>a<span class="colcc">g</span>i<span class="col00">n</span>e</p>
          </li>
        </ul>
        <ul>
          <li class="fs15">
            <p class="col00">test + <span class="col4d">desi</span><span class="colcc">gn</span><span class="col4d">+ see</span></p>
          </li>
        </ul>
        <ul>
          <li class="fs15">
            <p class="col00">+ innovate + <span class="col4d">energ</span><span class="colcc">ize + </span></p>
          </li>
        </ul>
        <ul>
          <li class="fs15">
            <p class="col00">inspire + e<span class="colff">nvisi</span><span class="col4d">on </span><span class="col00">+ </span><span class="col4d">pre</span><span class="colcc">d</span><span class="col4d">ict</span></p>
          </li>
        </ul>
        <ul>
          <li class="fs15" style="padding-right:12px;">
            <p class="col00">col<span class="colcc">l</span>ab<span class="col4d">or</span><span class="colcc">ate + invite</span>+ <span class="col4d">im</span><span class="colcc">ag</span><span class="colcc">in</span><span class="col4d">e </span></p>
          </li>
        </ul>
        <ul>
          <li class="fs18">
            <p class="col4d">+ <span class="col00">en</span>e<span class="colcc">r</span><span class="colf2">gize </span><span class="colff"> + commu</span><span class="colcc">ni</span>c<span class="col00">a</span>te</p>
          </li>
        </ul>
        <ul>
          <li class="fs18">
            <p class="colff"><span class="col4d">r</span><span class="col00">e</span><span class="col4d">co</span><span class="colcc">n</span><span class="colf2">struc</span>t + support + <span class="colcc">tr</span><span class="col4d">y</span></p>
          </li>
        </ul>
        <ul>
          <li class="fs20">
            <p class="col00">a<span class="col4d">na</span>l<span class="colcc">y</span><span class="colf2">ze + </span><span class="colff">generate +</span> <span class="colff">s</span><span class="colcc">e</span><span class="col4d">e</span></p>
          </li>
        </ul>
        <ul>
          <li class="fs20">
            <p class="col4d">+ a<span class="colcc">ma</span><span class="colf2">ze + </span><span class="colff">test + </span><span class="colff">evis</span><span class="colcc">io</span>n</p>
          </li>
        </ul>
        <ul>
          <li class="fs24">
            <p class="col00">de<span class="colcc">sig</span>n + reim<span class="col00">agine</span> <span class="colcc">+</span></p>
          </li>
        </ul>
        <ul>
          <li class="fs30">
            <p class="col00"><span class="colcc">s</span>h<span class="colcc">a</span>re + d<span class="colff">i</span><span class="col4d">s</span>cover <span class="colcc">+</span></p>
          </li>
        </ul>
        <ul>
          <li class="fs30">
            <p class="colff">i<span class="colcc">ns</span><span class="col4d">pire + </span><span class="colff">c</span>o<span class="col4d">nne</span><span class="colcc">c</span>t</p>
          </li>
        </ul>
        <ul>
          <li class="fs24">
            <p class="colff">re<span class="colcc">se</span><span class="colff">arc</span><span class="colcc">h +</span><span class="colff">g</span><span class="colcc">ene</span><span class="colcc">r</span><span class="colff">at</span><span class="colcc">e</span> </p>
          </li>
        </ul>
        <ul>
          <li class="fs20" style="padding-left:14px;">
            <p class="col4d">c<span class="col00">o</span>l<span class="colcc">labor</span>a<span class="colff">te</span> <span class="col99">+</span> <span class="colcc">supp</span>or<span class="colcc">t +</span></p>
          </li>
        </ul>
        <ul>
          <li class="fs20" style="padding-left:38px;">
            <p class="col99"><span class="col4d">e</span><span class="colcc">n</span><span class="col4d">v</span><span class="col00">i</span><span class="colcc">s</span>i<span class="colf2">on</span> + com<span class="colcc">p</span><span class="colff">os</span><span class="colcc">e</span></p>
          </li>
        </ul>
        <ul>
          <li class="fs15" style="padding-left:20px;">
            <p class="col99">+ i<span class="colcc">nn</span><span class="col4d">o</span><span class="colcc">v</span><span class="colff">at</span><span class="colcc">e </span><span class="col99">+</span> d<span class="colcc">e</span>c<span class="colcc">o</span><span class="colf2">n</span><span class="colff">str</span><span class="colcc">uct</span></p>
          </li>
        </ul>
        <ul>
          <li class="fs15" style="padding-left:10px;">
            <p class="colcc"><span class="col4d">t</span><span class="col00">e</span><span class="col99">a</span>ch + create + a<span class="colff">m</span><span class="colcc">aze</span></p>
          </li>
        </ul>
        <ul>
          <li class="fs15">
            <p class="col99"><span class="col4d">c</span><span class="colcc">om</span>m<span class="colff">un</span><span class="colcc">i</span><span class="colf2">c</span><span class="colcc">ate</span> + <span class="colf2">i</span><span class="colf2">n</span><span class="colff">s</span><span class="colcc">pire</span></p>
          </li>
        </ul>
        <ul>
          <li class="fs15">
            <p class="col99"><span class="col4d">+</span> <span class="colcc">rei</span><span class="colcc">m</span>ag<span class="colcc">ine</span> <span class="colf2">+ c</span> <span class="colcc">onvey</span> <span class="colff">+</span></p>
          </li>
        </ul>
        <ul>
          <li class="fs15">
            <p class="colff">l<span class="col4d">is</span><span class="colcc">te</span><span class="colf2">n</span> <span class="col99">+ e</span><span class="col99">nc</span><span class="colcc">ourage</span> <span class="col99">+</span> a<span class="colcc">s</span>k</p>
          </li>
        </ul>
        <ul>
          <li class="fs15" >
            <p class="col4d">i<span class="colcc">nv</span><span class="colf2">e</span><span class="colff">sti</span><span class="colcc">g</span><span class="col99">at</span><span class="colcc">e </span><span class="col00">+</span> <span class="colcc">re</span><span class="colff">mod</span><span class="colcc">e</span><span class="colff">l</span></p>
          </li>
        </ul>
        <ul>
          <li class="fs15"  style="padding-right:12px;">
            <p class="col4d">+ <span class="colcc">e</span><span class="colf2">n</span><span class="colff">coura</span><span class="colcc">ge</span> <span class="col99">+ i</span><span class="colcc">mag</span><span class="colff">i</span><span class="colcc">ne</span> </p>
          </li>
        </ul>
        <ul>
          <li class="fs15"  style="padding-right:10px;">
            <p class="colcc"><span class="colff">r</span>ep<span class="colf2">ur</span><span class="colff">pose</span><span class="colcc"> + collabo</span><span class="colff">ra</span><span class="colcc">te</span> </p>
          </li>
        </ul>
        <ul>
          <li class="fs15" style="padding-left:14px;">
            <p class="colcc">design</p>
          </li>
        </ul>
      </div>
*/